body{
    margin: 0px;
    padding: 0px;
    
}
/* common style start */
.text-font{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    font-weight: 800;
}
h3{
    font-size: 25px;
    font-weight: 700; 
}
h4{
    font-size: 25px;
    font-weight: 500; 

}
.head-text{
    text-align: center;
    
}
.inline-color{
    color: darkorange;
}
.button{
    text-decoration: none;
    color:white;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(236, 85, 39);
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
/* common style end */




/* section-1-style start */
.section1{
    display: flex;
    margin-left:4% ;
    margin-right:4% ;
    padding-right:2% ;
    padding-left: 2%;
    margin-bottom: 150px;
}
.font-for-headline{
    font-family: 'Abril Fatface', cursive;
    border-left: 5px solid salmon;
    margin-left: 10px;
    padding-left: 20px;
  
}
.sect-div2{
   padding-left: 7px;
   
}
.image-1{
    max-width:1200px ; 
    height: auto;
    border: none;  
}
/* section-1-style end  */





/* section-2-style start */

.section2{
    display: flex;
    margin-left:4% ;
    margin-right:4% ;
    margin-bottom: 160px;
}

.illustr{
    max-width:40%;
    height:auto;
    padding-right: 10%;
    
}
.my-mission-div1{
    max-width:100%;
    height:auto;
    padding: 2%;
    margin-right: 30px;
    margin-left: 50px;
    background-color: rgb(230, 226, 220);
    border: white;
    border-radius: 20px;
}
.my-mission-div2{
    max-width:100px;
    height:auto;
    padding: 2%;
    background-color: rgb(248, 230, 197);
    border: white;
    border-radius: 20px;
}
.my-mission-div3{
    max-width:100%;
    height:auto;
    padding: 2%;
    margin-left: 30px;
    margin-right: 50px;
    background-color: rgb(250, 243, 178);
    border: white;
    border-radius: 20px;
}
.one-third-width{
    max-width:33.33%;
    height: auto;
    

}
/* section-2-style end  */




/* section-3-style start */
.section3{
    display: flex;
    margin-left:4% ;
    margin-right:4% ;
    margin-bottom: 150px;
}
.image-2{
    max-width:75% ; 
    height: auto; 
}
.sec-3-width1{
    width: 45%;
   margin-left: 5%;
}
.sec-3-width2{
    width: 60%;
    height: auto;
    

}
/* section-3-style end  */



/* section-4-style start */
.section4{
    display: flex;
    margin-left:4% ;
    margin-right:2% ;
    margin-bottom: 150px;
}
.image-3{
    max-width:80% ; 
    height: auto;
}
.sec-4-width1{
    width: 55%;
    margin-left: 5%; 
}
.sec-4-width2{
    width: 45%;
    margin-left: 10%;
    
}
/* section-4-style end  */



/* section-5-style start */
.section5{
    display: flex;
    margin-right:4% ;
    padding-right:2% ;
    margin-bottom: 150px;
}
#text-aling{
    text-align: center;
}

.image-4{
    max-width:450px ; 
    height: 500px; 
    border: none solid;
    border-radius: 10%;

}
.sec-5-width1{
    width: 40%;
    margin-left: 10%;
}
.sec-5-width2{
    width: 40%;
    margin-left: 10%;
    padding-top: 5%;
}

/* section-5-style end  */


/* footer-style start */
.footer{
    text-align: center;
    background-color: black;
    padding: 1%;
   
    
}
#footer-text1{
    color: white;
    font-family: 'Lobster', cursive;
}
#footer-text2{
    color: rgb(236, 59, 39);
    font-family: 'Lobster', cursive;
}
#footer-text3{
    color: rgb(158, 150, 134);
}
/* footer-style end */












